@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


a:hover{
    color: black;
}


body{
    background-image: url(../fotos/background.png);
    background-repeat: repeat-y;  
}

.fonte{
    font-family:"League Gothic";
}

.cor2{
    background-color: #acbd74b9;
}

a{
    color: white;
    font-size: 35px;
}

.fonte2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .titulo{
    border-radius: 50px;
    border-style:inset;
    border-width: 13px;
    border-top-color:#acbd74;
    border-right-color:#acbd74;
    border-bottom-color: #9e7851;
    border-left-color:#dbad7f;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 90px;
    background-color: #e5fd7b28;
    box-shadow: 0 0 20px #65482a9e ;
    background: -webkit-gradient(linear, left top, right top, from(#8154249e), to(#e5fd7b28)) no-repeat;
            background: -moz-linear-gradient(left, #8154249e, #e5fd7b28);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#8154249e', EndColorStr='#e5fd7b28');     

}

.sombra{
    text-shadow: 0 0 10px #65482a9e;
}

.circulo{
    border-radius: 100px;
    border-style:inset;
    border-width: 10px;
    border-top-color:#acbd74;
    border-right-color:#acbd74;
    border-bottom-color:#d4a373;
    border-left-color:#d4a373;

}

.img1{
    background-image: url(../fotos/opd_cupcake.jpg);  
    height:400px;
    width:400px;
    background-size:100% auto;
  }
  
  .texto{
    padding: 15px;
    margin-top:140px;
    font-family:"League Gothic";
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s linear;
    background-color:rgba(92, 61, 26, 0.514);
    font-size: 40px;
    border: 0 none ;
    border-radius: 5%;
  }
  
  .img1:hover .texto{
    opacity:1;
   }

   .img2{
    background-image: url(../fotos/opd_bolo.jpg);  
    height:400px;
    width:400px;
    background-size:100% auto;
  }

  .img2:hover .texto{
    opacity:1;
   }

   .img3{
    background-image: url(../fotos/opd_donuts.jpg);  
    height:400px;
    width:400px;
    background-size:100% auto;
  }

  .img3:hover .texto{
    opacity:1;
   }

   .fundo{
    background: -webkit-gradient(linear, left top, right top, from(#8154249e), to(#e5fd7b28)) no-repeat;
              background: -moz-linear-gradient(left, #8154249e, #e5fd7b28);
              filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#8154249e', EndColorStr='#e5fd7b28');     
  }
  
  .tam_fonte{
    font-size: 50px;
  }
  
  .tam_fonte2{
    font-size: 20px;
  }

